/* SECTION Elements */

header{
  background-color: rgb(93, 11, 93);
  border: 0.2em solid black;
  height: 8.5vh;
}

body{
  margin: 0.2vh;
}

footer{
  background-color: rgb(93, 11, 93);
  border: 0.2em solid black;
  /* margin-top: 3vw; */
  height: 13vh;
  width: 99.4vw;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
}

img{
  height: 23vh;
  width: 18vw;
}

main{
  min-height: 72vh;
}

/* SECTION Classes */

.align-items-center{
align-items: center;
}

.justify-content-center{
justify-content: center;
}

.display-flex{
  display: flex;
}

.header-text{
  color: white;
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

.article-title{
  border-top: 3vh solid gray;
  margin-top: 6vh;
  margin-right: 35vw;
  margin-left: 20vw;
  font-size: 1.18em;
  max-width: 35vw;

}

.align-items-start{
  align-items: flex-start;
}

.align-items-end{
  align-items: flex-end;
}

.justify-content-end{
  justify-content: flex-end;
}

.alt-article{
  margin-right: 4vw;
  flex-direction: column;
  height: 0px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  transform: translateY(-20vh);
}

.alt-article-text{
  margin-bottom: 0px;
  margin-top: 7px;
  width: 18vw;
}